// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

@font-face {
	font-family: 'Venti';
		src: url('../fonts/VentiCF-Medium.woff2') format('woff2'),
		url('../fonts/VentiCF-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Venti';
		src: url('../fonts/VentiCF-DemiBold.woff2') format('woff2'),
		url('../fonts/VentiCF-DemiBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Venti';
		src: url('../fonts/VentiCF-Bold.woff2') format('woff2'),
		url('../fonts/VentiCF-Bold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Venti';
		src: url('../fonts/VentiCF-Black.woff2') format('woff2'),
		url('../fonts/VentiCF-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

$headings: bourbon, serif;
$font-family-sans-serif: Venti, Arial, sans-serif;

@mixin systemlinks {
	font-family: $font-family-sans-serif;
	font-weight: 900;
	font-size: 16px;
	letter-spacing: 1.5px;
	line-height: 23px;
	text-transform: uppercase;
}