// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


@mixin giantheader{
	font: {
		family: $headings;
// 		size: 202px;
		weight: normal;
	}
	text-align: center;
	letter-spacing: 0.21px; 
	line-height: 9rem;
	color: #fff;
	width: 100%;

	@include media-breakpoint-down(sm) {
		line-height: normal;
	}
}

//The following sets variable font sizes for home page section.
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1400px;
$min_font: 80px;
$max_font: 170px;


//The following sets variable font sizes for header sections. It's not working yet.
@mixin fluid-head($min-vw2, $max-vw2, $min-head-size, $max-head-size) {
  $u1: unit($min-vw2);
  $u2: unit($max-vw2);
  $u3: unit($min-head-size);
  $u4: unit($max-head-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      height: $min-head-size;
      @media screen and (min-width: $min-vw) {
        height: calc(#{$min-head-size} + #{strip-unit($max-head-size - $min-head-size)} * ((100vw - #{$min-vw2}) / #{strip-unit($max-vw2 - $min-vw2)}));
      }
      @media screen and (min-width: $max-vw2) {
        height: $max-head-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1400px;
$min_head: 40vh;
$max_head: 70vh;

@mixin slowfade() {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

@mixin badgelogo() {
	&.ribstonelogo {
	order: 1;
	background: #272C34;
	height: 130px;
	align-self: baseline;
	width: 120px;
	
	a {
		height: 130px;
		width: 120px;
		text-indent: -9999999px;
		background: url('../img/RSC.svg') no-repeat center center;
	}
	
	&:after {
		content: "";
		width: 0; 
		height: 0; 
		border-left: 60px solid transparent;
		border-right: 60px solid transparent;
		border-top: 15px solid #272C34;
		position: absolute;
		top: 100%;
		left: 0;			
	}
}
}


$brand-primary: #F0C745; 
$ribstone-gold: #F0C745;
$primary: $brand-primary !default;
$dark-blue: #2D333C;